{% extends 'base.html.twig' %}

{% block title %} Mon compte la bouti{% endblock %}

{% block content %}
        <a href="{{ path('compte')}}"> Revenir à mon compte </a>
        <hr> 
        Formulaire
        {% if notification %}
                <div class="alert alert-info">{{ notification }}</div>
        {% endif %}
        <hr> 
        {{ form(form)}}
        <hr>

{% endblock %}
