{% extends 'base.html.twig' %}

{% block title %} Order {% endblock %}

{% block content %}
<h1> Je passe ma commande  </h1>
<p> choisissez vos preference avant de passer commande  </p>
<hr>
<div class="row">
    <div class="col-md-6">
            <b> Choisir mon addresse de livraison  </b>
            <b> Choisir mon transporteur </b>
     </div>
    <div class="col-md-6"> 
            <b> recap de ma commande  </b>
            <b> Bouton pour payer </b>
    </div>
</div>
{% endblock %}
